@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
}

.main{
    background-color: #eceff1;
    min-height: 900px;
}

.wrapper{
    max-width: 1700px;
    margin: auto;
    padding: 1px;
}

.logo-bar{
    padding: 30px;
}

.logo-bar img{
    max-width: 290px;
}

#bag-logo{
    max-width: 50px;
}

.bag-bar{
    cursor: pointer;
    text-align: center;
}

#login-logo{
    max-width: 50px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.header-wrapper{
    align-items: center;
    padding: 15px;
    max-width: 1700px;
    margin: auto;
}

#search-input{
    height: 40px;
    width: 420px;
    font-size: 15px;
    padding: 0 10px;
    max-width: 420px;
    max-height: 40px;
}

#search-input:focus{
    outline: none !important;
}

.flex{
    display: flex;
}

#search-button{
    background-color: #ff598a;
    border: none;
    color: white;
    letter-spacing: 2px;
    padding: 0 12px;
    cursor: pointer;
}

#search-button:hover{
    background-color: #ff6c95;
}

.department-bar{
    background-color: white;
    max-width: 250px;
    width: 250px;
    padding: 15px 15px 15px 0;
}

#font-spacing{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff598a;
}

.under-border{
    text-align: center;
    border-bottom: 2px solid #ff598a;
    max-width: 120px;
    padding-bottom: 5px;
    margin: auto;
}

.block{
    display: block;
}

.login-bar{
    text-align: center;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: 83.5%;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    max-width: 210px;
    padding: 12px 16px;
    z-index: 1;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.login-bar:hover .dropdown-content {
    display: block;
}

.space-evenly{
    justify-content: space-evenly;
}

.menu-div{
    font-size: 15px;
    padding-top: 10px;
    align-items: center;
}

.menu-div:hover{
    color: rgb(255, 89, 138);
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
}

.menu-div img{
    width: 20px;
    margin-right: 15px;
    max-width: 20px;
}

.menu-div a{
    text-decoration: none;
    color: black;
}

.logo-bar img:hover{
    opacity: 0.8;
}

.dropdown-bag {
    left: 64.5%;
    display: none;
    position: absolute;
    background-color: white;
    width: 500px;
    max-width: 610px;
    padding: 12px 16px;
    z-index: 1;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.bag-bar:hover .dropdown-bag {
    display: block;
}

.bag-prod #cross{
    max-width: 20px;
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
    cursor: pointer;
}

.bag-prod #prod-img{
    max-width: 120px;
}

.bag-prod{
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #f5f5dcc4;
    max-width: 400px;
    margin: auto;
}

.under{
    margin-top: 10px;
}

.bag-prod a{
    text-decoration: none;
    color: black;
}

footer{
    justify-content: flex-end;
    background-color: #3a4e58;
}

.logo-foot img{
    max-width: 180px;
    margin: 17px;
}