.block input{
    max-width: 260px;
    width: 260px;
}

.login {
    max-width: 1060px;
}

.space-around{
    justify-content: space-around;
}

.pt-15{
    padding-top: 15px;
}

.form-img{
    padding-top: 20px;
    max-width: 60px;
    margin-right: 20px;
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
}

form img {
    padding-top: unset;
    max-width: unset;
    margin-right: unset;
    filter: unset;
}

table {
     border-collapse: collapse;
     max-width: 450px;
     width: 450px;
 }

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.space-evenly{
    align-items: center;
    justify-content: space-evenly;
}

#cross{
    max-width: 15px;
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
    cursor: pointer;
}

#prod-img{
    max-width: 150px;
}

table p{
    max-width: 100px;
}