.wrapper{
    max-width: 1300px !important;
}

.showSlide {
    display: none
}

.showSlide img {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 340px;
}

.slidercontainer {
    margin: 15px;
    max-width: 600px;
    position: relative;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {
    border: 1px solid black;
}

.content {
    color: #eff5d4;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

.product{
    background-color: white;
    margin-top: 10px;
    justify-content: end;
}

#order-button{
    background-color: #ff598a;
    border: none;
    color: white;
    letter-spacing: 2px;
    padding: 4px 45px;
    cursor: pointer;
}

.prod-info{
    margin: 15px;
    width: 540px;
    border-right: 4px solid #ff598a;
    padding-right: 30px;
}

.prod-info h2{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.right-d{
    text-align: right;
    margin-bottom: 15px;
}

.popup{
    position: absolute;
    display: none;
    left: 40%;
    border-radius: 5px;
    top: 10%;
    padding: 25px;
    background-color: #00ec00bd;
}

.popup p{
    color: white;
}

.wrapper2{
    max-width: 1400px;
    margin: auto;
    padding: 1px;
    position: relative;
}

.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
}

.slick-slider{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel{
    width: 90%;
    margin: 0 auto;
}
.slick-slide{
    background-color: white;
    display: block;
    border: 1px solid #ff598a;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}

.autoplay button{
    background-color: #ff598a;
    border: none;
    color: white;
    letter-spacing: 2px;
    padding: 3px 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.slick-slide a{
    text-decoration: none;
    color: black;
}

#slider{
    margin-top: 85px;
    background-color: white;
}

#slider h2{
    padding-top: 15px;
    margin-left: 15px;
}