#showed-type-category{
    background-color: white;
    max-height: 900px;
    width: 900px;
}

.img-block a{
    display: flex;
    width: 100%;
    height: 100%;
}

.showed-product img{
    display: block;
    max-height: 128px;
    max-width: 128px;
}

.products-section{
    margin: 15px;
    background-color: white;
    padding: 15px;
    width: 100%;
}

.showed-product{
    padding: 15px;
    border-bottom: 1px solid #8c8c8c78;
}

.img-block{
    box-sizing: border-box;
    background: #fff;
    padding: 0;
    width: 150px;
    height: 128px;
}

.showed-product p{
    font-size: 18px;
    color: black;
}

.showed-product a{
    text-decoration: none;
}

.price{
    text-size-adjust: 100%;
    white-space: nowrap;
    color: #3a4e58;
    font-weight: 800;
}

.filter-section{
    padding: 15px;
    margin-top: 15px;
    max-width: 500px;
    width: 500px;
    background-color: white;
    height: max-content;
}

.filter-p{
    padding-top: 10px;
    font-size: 18px;
}

.check input{
    margin-right: 10px;
}

.check{
    align-items: center;
}

.mt-50{
    margin-top: 50px;
}

.flex select{
    margin-left: 15px;
    padding: 2px;
}

.showed-product:hover{
    background-color: #efefef;
}

.sort{
    margin-bottom: 10px;
    align-items: baseline;
}

.pages img{
    max-width: 40px;
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
}

.pages{
    width: 120px;
    max-width: 120px;
    align-items: center;
}

.arrow-left{
    transform: rotate(180deg);
}

.wrapper h3{
    margin-top: 15px;
    margin-right: 15px;
}