<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Data Hub</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<style>
    select{
        min-width: 130px;
        min-height: 20px;
    }

    h2{
        margin-top: 15px;
    }

    .block{
        display: block;
        border: 1px solid;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .flex{
        display: flex;
        max-width: 2000px;
        margin: auto;
        justify-content: space-around;
    }

    .center{
        text-align: center;
    }

    .flexed{
        max-width: 800px;
    }


</style>

<h1 style="text-align: center">Space Agency Data Hub</h1>

<div class="flex">
    <div class="flexed">
        <div class="block" id="department">
            <h2 class="center">Departments</h2>
            <div id="dep">
                <input type="text" placeholder="Name" v-model="department_name" />
                <input type="file" ref="file" v-on:change="handleFileUpload()" />
                <input type="button" value="Save" @click="saveDepartment" style="margin-left: 5px;"/>
            </div>
            <div v-for="department in departments" :key="department.id">
                <div style="position: relative; width: 580px">
                    <div style="margin-top: 20px;">
                        <strong>[{{ department.name }}]</strong>
                        <span style="position: absolute; right: 0">
                           <input type="button" value="X" @click="delDepartment(department)"/>
                        </span>
                        <ul>
                            <li><strong>ID:</strong> {{ department.id }}</li>
                            <li><strong>Name:</strong> {{ department.name }}</li>
                            <li><strong>Image:</strong> {{ department.image }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" id="type">
            <h2 class="center">Types</h2>
            <div>
                <div>
                    <select v-model="type_department" style="margin-left: 5px;">
                        <option v-for="department in departments" :key="department.id" v-bind:value="department">{{ department.name }}</option>
                    </select>
                    <input type="text" placeholder="Name" v-model="type_name" style="margin-left: 5px;"/>
                    <input type="file" ref="file" v-on:change="handleFileUpload()" />
                    <input type="button" value="Save" @click="saveType" style="margin-left: 5px;"/>
                </div>

                <div v-for="type in types" :key="type.id">
                    <div style="position: relative; width: 580px">
                        <div style="margin-top: 20px;">
                            <strong>[{{ type.name }}]</strong>
                            <ul>
                                <li><strong>ID: </strong> {{ type.id }} </li>
                                <li><strong>Name:</strong> {{ type.name }} </li>
                                <li><strong>Department name:</strong> {{ type.department.name }} </li>
                                <li><strong>Image:</strong> {{ type.image }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" id="category">
            <h2 class="center">Categories</h2>
            <div id="categories">
                <div>
                    <select v-model="category_type" style="margin-left: 5px;">
                        <option v-for="type in types" :key="type.id" v-bind:value="type">{{ type.name }}</option>
                    </select>
                    <input type="text" placeholder="Name" v-model="category_name" style="margin-left: 5px;"/>
                    <input type="button" value="Save" @click="saveCategory" style="margin-left: 5px;"/>
                </div>
                <div v-for="category in categories" :key="category.id">
                    <div style="position: relative; width: 580px">
                        <div style="margin-top: 20px;">
                            <strong>[{{ category.name }}]</strong>
                            <span style="position: absolute; right: 0"><input type="button" value="X" @click="delCategory(category)"/></span>
                            <ul>
                                <li><strong>ID: </strong> {{ category.id }} </li>
                                <li><strong>Name:</strong> {{ category.name }} </li>
                                <li><strong>Department name:</strong> {{ category.type.department.name }} </li>
                                <li><strong>Type name:</strong> {{ category.type.name }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" id="product">
            <h2 class="center"></h2>
            <div id="products">
                <div>
                    <select v-model="product_category" style="margin-left: 5px;">
                        <option v-for="category in categories" :key="category.id" v-bind:value="category">{{ category.name }}</option>
                    </select>
                    <input type="text" placeholder="Name" v-model="product_name" style="margin-left: 5px;"/>
                    <input type="text" placeholder="Price" v-model="product_price" style="margin-left: 5px;"/>
                    <input type="text" placeholder="Description" v-model="product_description" style="margin-left: 5px;"/>
                    <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
                    <input type="button" value="Save" @click="saveProduct" style="margin-left: 5px;"/>
                </div>
                <div v-for="product in products" :key="product.id">
                    <div style="position: relative; width: 580px">
                        <div style="margin-top: 20px;">
                            <strong>[{{ product.name }}]</strong>
                            <span style="position: absolute; right: 0"><input type="button" value="X" @click="delProduct(product)"/></span>
                            <ul>
                                <li><strong>ID: </strong> {{ product.id }} </li>
                                <li><strong>Name:</strong> {{ product.name }} </li>
                                <li><strong>Price:</strong> {{ product.price }} </li>
                                <li><strong>Description:</strong> {{ product.description }} </li>
                                <li><strong>Department name:</strong> {{ product.category.type.department.name }} </li>
                                <li><strong>Type name:</strong> {{ product.category.type.name }} </li>
                                <li><strong>Category name:</strong> {{ product.category.name }} </li>
                                <li><strong>Images:</strong></li>
                                <ul>
                                    <li v-for="image in images" :key="image.id"  v-if="product.id == image.product.id">
                                        <a href="#">{{ image.image }}</a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="center">Orders</h2>
        <div class="flex" id="orders">
            <div class="block">
                <h2 class="center">Received</h2>
                <div>
                    <div v-for="order in orders" :key="order.id" v-if="order.status == 0">
                        <div style="position: relative; width: 580px">
                            <div style="margin-top: 20px;">
                                <strong>[{{ order.number }}]</strong>
                                <span style="position: absolute; right: 45px"><input type="button" value="X" @click="delProduct(order)"/></span>
                                <span style="position: absolute; right: 0"><input type="button" value="->" @click="changeOrderStatus(order)"/></span>
                                <ul>
                                    <li><strong>Number:</strong> {{ order.number }} </li>
                                    <li><strong>Customer:</strong></li>
                                    <ul>
                                        <li><strong>Name:</strong> {{ order.user.name }} </li>
                                        <li><strong>Surname:</strong> {{ order.user.surname }} </li>
                                        <li><strong>Email:</strong> {{ order.user.email }} </li>
                                        <li><strong>Phone number:</strong> {{ order.phone }} </li>
                                        <li><strong>City:</strong> {{ order.city }} </li>
                                        <li><strong>Address:</strong> {{ order.address }} </li>
                                        <li><strong>Postal code:</strong> {{ order.pcode }} </li>
                                    </ul>
                                    <li><strong>Order:</strong></li>
                                    <ul>
                                        <li v-for="productinorder in productInOrders" :key="productinorder.id" href="#" v-if="order.number == productinorder.order.number">
                                            <strong>Product name: </strong><a href="">{{ productinorder.product.name }}</a><br>
                                            <strong>Product id: </strong>{{ productinorder.product.id }}
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <h2 class="center">To send</h2>
                <div>
                    <div v-for="order in orders" :key="order.id" v-if="order.status == 1">
                        <div style="position: relative; width: 580px">
                            <div style="margin-top: 20px;">
                                <strong>[{{ order.number }}]</strong>
                                <span style="position: absolute; right: 0"><input type="button" value="->" @click="changeOrderStatus(order)"/></span>
                                <ul>
                                    <li><strong>Number:</strong> {{ order.number }} </li>
                                    <li><strong>Customer:</strong></li>
                                    <ul>
                                        <li><strong>Name:</strong> {{ order.user.name }} </li>
                                        <li><strong>Surname:</strong> {{ order.user.surname }} </li>
                                        <li><strong>Email:</strong> {{ order.user.email }} </li>
                                        <li><strong>Phone number:</strong> {{ order.phone }} </li>
                                        <li><strong>City:</strong> {{ order.city }} </li>
                                        <li><strong>Address:</strong> {{ order.address }} </li>
                                        <li><strong>Postal code:</strong> {{ order.pcode }} </li>
                                    </ul>
                                    <li><strong>Order:</strong></li>
                                    <ul>
                                        <li v-for="productinorder in productInOrders" :key="productinorder.id" href="#" v-if="order.number == productinorder.order.number">
                                            <strong>Product name: </strong><a href="">{{ productinorder.product.name }}</a><br>
                                            <strong>Product id: </strong>{{ productinorder.product.id }}
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <h2 class="center">Resolved</h2>
                <div>
                    <div v-for="order in orders" :key="order.id" v-if="order.status == 2">
                        <div style="position: relative; width: 580px">
                            <div style="margin-top: 20px;">
                                <strong>[{{ order.number }}]</strong>
                                <ul>
                                    <li><strong>Number:</strong> {{ order.number }} </li>
                                    <li><strong>Customer:</strong></li>
                                    <ul>
                                        <li><strong>Name:</strong> {{ order.user.name }} </li>
                                        <li><strong>Surname:</strong> {{ order.user.surname }} </li>
                                        <li><strong>Email:</strong> {{ order.user.email }} </li>
                                        <li><strong>Phone number:</strong> {{ order.phone }} </li>
                                        <li><strong>City:</strong> {{ order.city }} </li>
                                        <li><strong>Address:</strong> {{ order.address }} </li>
                                        <li><strong>Postal code:</strong> {{ order.pcode }} </li>
                                    </ul>
                                    <li><strong>Order:</strong></li>
                                    <ul>
                                        <li v-for="productinorder in productInOrders" :key="productinorder.id" href="#" v-if="order.number == productinorder.order.number">
                                            <strong>Product name: </strong><a href="">{{ productinorder.product.name }}</a><br>
                                            <strong>Product id: </strong>{{ productinorder.product.id }}
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>