<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koszyk - sklepi.pl</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/bag.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<header>
    <div class="flex-space-between header-wrapper" id="header">
        <div class="logo-bar">
            <a href="/">
                <img src="img/main-head.png">
            </a>
        </div>
        <div class="search-bar">
            <div class="flex">
                <input type="search" placeholder="czego szukasz?" v-model="searchName" id="search-input">
                <button @click="search" id="search-button">SZUKAJ</button>
            </div>
        </div>
        <div class="bag-bar" id="bag"><a href="/bag">
                <img src="img/bag.png" id="bag-logo">
                <p>Twój koszyk</p>
            </a>
            <div class="dropdown-bag" id="dropdown-bag">
                <div v-if="typeof user.username === 'undefined'">
                    <a href="/login">Zaloguj się!</a>
                </div>
                <div v-else>
                    <div v-if="typeof bag === 'undefined'">
                        <p>not got</p>
                    </div>
                    <div class="block" v-else>
                        <div class="flex bag-prod" v-for="(product, indexi) in bag" key="product.id">
                            <img id="cross" @click="delProductFromBag(product)" src="img/close.svg">
                            <a v-bind:href="links[indexi]">
                                <p>{{ product.product.name }}</p>
                            </a>
                            <a v-bind:href="links[indexi]">
                                <img id="prod-img" v-for="(image, index) in images" :key="image.id" v-if="product.product.id == images[index].product.id" v-bind:src="images[index].image" class="prod-img"/>
                            </a>
                        </div>
                        <div class="under">
                            <a id="font-spacing" href="/bag">Pokaż szczegóły koszyka</a>
                            / <a id="font-spacing" href="/order">Złóż zamówienie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-bar" id="user">
            <img src="img/login.png" id="login-logo">
            <div v-if="typeof user.username !== 'undefined'">
                <p>{{ user.name }} {{ user.surname }}</p>
                <div class="dropdown-content">
                    <a href="/myorders" class="flex menu-div">
                        <img src="img/product.svg">
                        <p>Moje zamówienia</p>
                    </a>
                    <a href="/logout" class="flex menu-div">
                        <img src="img/logout.svg">
                        <p>Wyloguj</p>
                    </a>
                </div>
            </div>
            <div v-else>
                <a href="/login">Logowanie </a>
                /<a href="/registration"> Rejestracja</a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="sec-wrap">
            <h1 id="logged">Twój koszyk</h1>
            <div id="bagg">
                <table>
                    <tr>
                        <th>Towar</th>
                        <th>Cena</th>
                    </tr>
                    <tr v-for="(productinbag, indexi) in showedProducts" :key="productinbag.id" class="product">
                        <td>
                            <div class="flex space-evenly">
                                <img id="cross" @click="delProductFromBag(productinbag)" src="img/close.svg">
                                <a v-bind:href="links[indexi]">
                                    <p>{{ productinbag.product.name }}</p>
                                </a>
                                <a v-bind:href="links[indexi]">
                                    <img id="prod-img" v-for="(image, index) in images" :key="image.id" v-if="productinbag.product.id == images[index].product.id" v-bind:src="images[index].image" class="prod-img"/>
                                </a>
                            </div>
                        </td>
                        <td><p>{{ productinbag.product.price }}</p></td>
                    </tr>
                </table>
                <p class="pt-15">Do zapłaty: <strong>{{ totalPrice }}</strong></p>
            </div>
        </div>
    </div>
</div>
<footer class="flex">
    <div class="logo-foot">
        <a href="/">
            <img src="img/main-head.png">
        </a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/bag.js"></script>
<script src="js/header.js"></script>
<script src="js/latinize.js"></script>
</body>
</html>