<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sklepik.pl - atrakcyjne ceny</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<header>
    <div class="flex-space-between header-wrapper">
        <div class="logo-bar">
            <h1>SKLEPIK</h1>
            
        </div>
        <div class="search-bar">
            <form>
                <div class="flex">
                    <input type="search" placeholder="czego szukasz?" id="search-input">
                    <button id="search-button">SZUKAJ</button>
                </div>
            </form>
        </div>
        <div class="bag-bar">
            <img src="img/bag.png" id="bag-logo">
        </div>
        <div class="login-bar" id="user">
            <img src="img/login.png" id="login-logo">
            <p v-if="typeof user.username !== 'undefined'">Cześć, {{ user.username }}!</p>
            <div v-else>
                <a href="/login">Logowanie </a>
                /<a href="/registration"> Rejestracja</a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="flex hello-block">
            <div class="department-bar">
                <div class="under-border">
                    <p id="font-spacing">Działy</p>
                </div>
                <div class="block" id="departments">
                    <a class="department-block flex align-items-center" name="department" v-for="(department, index) in departments" key="department.id" v-bind:href="links[index]">
                        <img v-bind:src="images[index]">
                        {{ department.name }}
                    </a>
                </div>
            </div>
            <div class="type-bar" id="types">
                <div class="block" id="showed-type-category" v-for="type in types" :key="type.id">
                    <div id="type">
                        <a href="#" id="showed-type">{{ type.name }}</a>
                    </div>
                    <div id="categories">
                        <a class="block" v-for="category in categories" :key="category.id" href="#" id="showed-category" v-if="type.name == category.type.name">
                            {{ category.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/index.js"></script>
<script src="js/loginCheck.js"></script>
</body>
</html>