<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sklepik.pl - atrakcyjne ceny</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>

<header>
    <div class="flex-space-between header-wrapper" id="header">
        <div class="logo-bar">
            <a href="/">
                <img src="img/main-head.png">
            </a>
        </div>
        <div class="search-bar">
            <div class="flex">
                <input type="search" placeholder="czego szukasz?" v-model="searchName" id="search-input">
                <button @click="search" id="search-button">SZUKAJ</button>
            </div>
        </div>
        <div class="bag-bar" id="bag">
            <a href="/bag">
                <img src="img/bag.png" id="bag-logo">
                <p>Twój koszyk</p>
            </a>
            <div class="dropdown-bag" id="dropdown-bag">
                <div v-if="typeof user.username === 'undefined'">
                    <a href="/login">Zaloguj się!</a>
                </div>
                <div v-else>
                    <div v-if="typeof bag === 'undefined'">
                        <p>not got</p>
                    </div>
                    <div class="block" v-else>
                        <div class="flex bag-prod" v-for="(product, indexi) in bag" key="product.id">
                            <img id="cross" @click="delProductFromBag(product)" src="img/close.svg">
                            <a v-bind:href="links[indexi]">
                                <p>{{ product.product.name }}</p>
                            </a>
                            <a v-bind:href="links[indexi]">
                                <img id="prod-img" v-for="(image, index) in images" :key="image.id" v-if="product.product.id == images[index].product.id" v-bind:src="images[index].image" class="prod-img"/>
                            </a>
                        </div>
                        <div class="under">
                            <a id="font-spacing" href="/bag">Pokaż szczegóły koszyka</a>
                             / <a id="font-spacing" href="/order">Złóż zamówienie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-bar" id="user">
            <img src="img/login.png" id="login-logo">
            <div v-if="typeof user.username !== 'undefined'">
                <p>{{ user.name }} {{ user.surname }}</p>
                <div class="dropdown-content">
                    <a href="/myorders" class="flex menu-div">
                        <img src="img/product.svg">
                        <p>Moje zamówienia</p>
                    </a>
                    <a href="/logout" class="flex menu-div">
                        <img src="img/logout.svg">
                        <p>Wyloguj</p>
                    </a>
                </div>
            </div>
            <div v-else>
                <a href="/login">Logowanie </a>
                /<a href="/registration"> Rejestracja</a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper2">
        <div class="flex hello-block">
            <div class="department-bar">
                <div class="under-border">
                    <p id="font-spacing">Działy</p>
                </div>
                <div class="block" id="departments">
                    <a class="department-block flex align-items-center" name="department" v-for="(department, index) in departments" key="department.id" v-bind:href="links[index]">
                        <img v-bind:src="images[index]">
                        {{ department.name }}
                    </a>
                </div>
            </div>
            <div class="type-bar" id="types">
                <div class="block" id="showed-type-category" v-for="(type, index) in types" :key="type.id">
                    <div id="type">
                        <a v-bind:href="types_links[index]" id="showed-type">{{ type.name }}</a>
                    </div>
                    <div id="categories">
                        <a class="block" v-for="(category, indexi) in categories" :key="category.id" href="#" id="showed-category" v-if="type.name == category.type.name" v-bind:href="categories_links[indexi]">
                            {{ category.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="advertising">
            <h2>Miejsce dla twojej reklamy!</h2>
            <h3>sklepik-advertisment@gmail.com</h3>
        </div>

        <div id="promoted" class="promoted">
            <div class="block">
                <a v-bind:href="link">
                    <h2>{{ promoted.name }}</h2>
                    <img v-bind:src="image.image">
                    <h2 class="price">{{ promoted.price }}</h2>
                </a>
            </div>
        </div>

        <div id="slider">
            <div class="autoplay">
                <div v-for="(product, index) in products" :key="product.id">
                    <a v-bind:href="links[index]">
                        <p> {{ product.name }}</p>
                        <img v-bind:src="images[index].image">
                        <p class="price"><strong>{{ product.price }}</strong></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="flex">
    <div class="logo-foot">
        <a href="/">
            <img src="img/main-head.png">
        </a>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function () {
            $('.autoplay').slick({
                slidesToShow: 9,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        }, 200);
    });
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/index.js"></script>
<script src="js/header.js"></script>
<script src="js/latinize.js"></script>
</body>
</html>