<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logowanie - sklepi.pl</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="main">
    <div class="logo-bar">
        <a href="/">
            <img src="img/main.png">
        </a>
    </div>
    <div class="wrapper">
        <div class="sec-wrap">
            <div tiles:fragment="content" class="login">
                <form name="f" th:action="@{/login}" method="post">
                    <h1>Logowanie</h1>
                    <div class="block">
                        <div class="flex justify-content-center">
                            <img src="img/user.svg">
                            <div class="block">
                                <p>Username</p>
                                <input type="text" id="username" name="username"/>
                            </div>
                        </div>
                        <div class="flex justify-content-center pt-30">
                            <img src="img/password.svg">
                            <div class="block">
                                <p>Password</p>
                                <input type="password" id="password" name="password"/>
                            </div>
                        </div>
                    </div>
                    <div class="ask">
                        <p>Nie masz konta? <a href="/registration">Zarejestruj się!</a></p>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Zaloguj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>