<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logowanie - sklepi.pl</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<header>
    <div class="flex-space-between header-wrapper">
        <div class="logo-bar">
            <img src="img/logo_full.png" id="main-logo">
        </div>
        <div class="search-bar">
            <form>
                <div class="flex">
                    <input type="search" placeholder="czego szukasz?" id="search-input">
                    <button id="search-button">SZUKAJ</button>
                </div>
            </form>
        </div>
        <div class="bag-bar">
            <img src="img/bag.png" id="bag-logo">
        </div>
        <div class="login-bar">
            <img src="img/login.png" id="login-logo">
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="sec-wrap">
            <div tiles:fragment="content" class="login">
                <form name="f" th:action="@{/login}" method="post">
                    <h1>Logowanie</h1>
                    <div class="flex justify-content-center">
                        <img src="img/user.svg">
                        <div class="block">
                            <p>Nazwa użytkownika:</p>
                            <input type="text" id="username" name="username" placeholder="wpisz nazwę"/>
                        </div>

                    </div>
                    <div class="flex justify-content-center">
                        <img src="img/password.svg">
                        <div class="block">
                            <p>Hasło:</p>
                            <input type="password" id="password" name="password" placeholder="wpizs hasło"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Zaloguj się !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>