<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sklepik.pl - atrakcyjne ceny</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<header>
    <div class="flex-space-between header-wrapper" id="header">
        <div class="logo-bar">
            <a href="/">
                <img src="img/main-head.png">
            </a>
        </div>
        <div class="search-bar">
            <form>
                <div class="flex">
                    <input type="search" placeholder="czego szukasz?" id="search-input">
                    <button id="search-button">SZUKAJ</button>
                </div>
            </form>
        </div>
        <div class="bag-bar" id="bag">
            <img src="img/bag.png" id="bag-logo">
            <p>Twój koszyk</p>
            <div class="dropdown-bag" id="dropdown-bag">
                <div v-if="typeof user.username === 'undefined'">
                    <a href="/login">Zaloguj się!</a>
                </div>
                <div v-else>
                    <div v-if="typeof bag === 'undefined'">
                        <p>not got</p>
                    </div>
                    <div v-else>
                        <p v-for="product in bag" key="product.id">
                            {{ product.product.name }}
                        </p>
                        <a id="font-spacing" href="/order">Złóż zamówienie</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-bar" id="user">
            <img src="img/login.png" id="login-logo">
            <div v-if="typeof user.username !== 'undefined'">
                <p>{{ user.name }} {{ user.surname }}</p>
                <div class="dropdown-content">
                    <a href="/myorders" class="flex menu-div">
                        <img src="img/product.svg">
                        <p>Moje zamówienia</p>
                    </a>
                    <a href="/logout" class="flex menu-div">
                        <img src="img/logout.svg">
                        <p>Wyloguj</p>
                    </a>
                </div>
            </div>
            <div v-else>
                <a href="/login">Logowanie </a>
                /<a href="/registration"> Rejestracja</a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <h1>Moje zamówienia</h1>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/myorders.js"></script>
<script src="js/header.js"></script>
</body>
</html>