<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejestracja - sklepi.pl</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/registration.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div class="main">
    <div class="logo-bar" id="user">
        <a href="/">
            <img src="img/main.png">
        </a>
    </div>
    <div class="wrapper">
        <div class="sec-wrap">
            <div id="order" class="login">
                <form method="post">
                    <h1>Rejestracja</h1>
                    <div class="block">
                        <div class="flex justify-content-center" style="align-items: flex-start;">
                            <img src="img/user.svg">
                            <div class="block">
                                <div class="block">
                                    <p>Telefon</p>
                                    <input type="text" id="phone" name="phone" v-model="phone"/>
                                </div>
                                <div class="block">
                                    <p>Miasto</p>
                                    <input type="text" id="city" name="city" v-model="city"/>
                                </div>
                                <div class="block">
                                    <p>Address</p>
                                    <input type="text" id="address" name="address" v-model="address"/>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-center">
                            <img src="img/mail.svg">
                            <div class="block">
                                <p>Postal code</p>
                                <input type="text" id="pcode" name="pcode" v-model="pcode"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="sub" @click="saveOrder" value="skladam zamowienie"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/order.js"></script>
</body>
</html>