<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="flex-space-between header-wrapper">
        <div class="logo-bar">
            <img src="img/logo_full.png" id="main-logo">
        </div>
        <div class="search-bar">
            <form>
                <div class="flex">
                    <input type="search" placeholder="czego szukasz?" id="search-input">
                    <button id="search-button">SZUKAJ</button>
                </div>
            </form>
        </div>
        <div class="bag-bar">
            <img src="img/bag.png" id="bag-logo">
        </div>
        <div class="login-bar">
            <img src="img/login.png" id="login-logo">
        </div>
    </div>
</header>

</body>
</html>