<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sklepik.pl - atrakcyjne ceny</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/products.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<header>
    <div class="flex-space-between header-wrapper">
        <div class="logo-bar">
            <h1>SKLEPIK</h1>

        </div>
        <div class="search-bar">
            <form>
                <div class="flex">
                    <input type="search" placeholder="czego szukasz?" id="search-input">
                    <button id="search-button">SZUKAJ</button>
                </div>
            </form>
        </div>
        <div class="bag-bar">
            <img src="img/bag.png" id="bag-logo">
        </div>
        <div class="login-bar" id="user">
            <img src="img/login.png" id="login-logo">
            <p v-if="typeof user.username !== 'undefined'">Cześć, {{ user.username }}!</p>
            <div v-else>
                <a href="/login">Logowanie </a>
                /<a href="/registration"> Rejestracja</a>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper" id="products">
        <div class="flex flex-space-between">
            <div class="filter-section">
                <div v-if="byType != undefined">
                    <h2>Podkategorje</h2>
                    <p v-for="category in categories" :key="category.id" class="filter-p">
                        {{ category.name }}
                    </p>
                </div>
                    <h2 class="mt-50">Filtruj</h2>
                    <p class="filter-p">Po cenie:</p>
                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(20)" value="1" onclick="selectOnlyThis(this)"/>
                        <p>Do 20 złotych</p>
                    </div>
                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(40)" value="2" onclick="selectOnlyThis(this)"/>
                        <p>Do 40 złotych</p>
                    </div>

                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(60)" value="3" onclick="selectOnlyThis(this)"/>
                        <p>Do 60 złotych</p>
                    </div>

                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(100)" value="4" onclick="selectOnlyThis(this)"/>
                        <p>Do 100 złotych</p>
                    </div>

                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(200)" value="5" onclick="selectOnlyThis(this)"/>
                        <p>Do 200 złotych</p>
                    </div>

                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(500)" value="6" onclick="selectOnlyThis(this)"/>
                        <p>Do 500 złotych</p>
                    </div>

                    <div class="flex check">
                        <input type="checkbox" name="myCheckbox" @click="filterPrice(1000)" value="7" onclick="selectOnlyThis(this)"/>
                        <p>Do 1000 złotych</p>
                    </div>
            </div>

            <div class="products-section">
                <div class="flex-space-between">
                    <div class="flex sort">
                        <p>Sortuj: </p>
                        <select name="sortBy" class="sort" id="sort" @change="sortBy(sortType)" v-model="sortType">
                            <option v-for="item in sortOptions" :value="item.value">{{ item.text }}</option>
                        </select>
                    </div>

                    <div class="flex pages">
                        <img v-if="page != 0" @click="previousPage" src="img/arrow.svg" class="arrow-left"/>
                        <div class="flex">
                            <p>{{ page+1 }} z {{ pages }}</p>
                        </div>
                        <img v-if="page != pages" @click="nextPage" src="img/arrow.svg" class="arrow-right"/>
                    </div>
                </div>
                <div class="flex showed-product" v-for="(product, indexi) in products" :key="product.id">
                    <div class="img-block">
                        <a v-bind:href="links[indexi]">
                            <img v-for="(image, index) in images" :key="image.id" v-if="product.id == images[index].product.id" v-bind:src="images[index].image" class="prod-img"/>
                        </a>
                    </div>
                    <a v-bind:href="links[indexi]" class="block">
                        <p>{{ product.name }}</p>
                        <h1 class="price" id="price">{{ product.price }}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/products.js"></script>
<script>
    function selectOnlyThis(id){
        var myCheckbox = document.getElementsByName("myCheckbox");
        Array.prototype.forEach.call(myCheckbox,function(el){
            el.checked = false;
        });

        id.checked = true;
    }
</script>
<script src="js/loginCheck.js"></script>
</body>
</html>