<html xmlns:tiles="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejestracja - sklepi.pl</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/registration.css">
    <link rel="stylesheet" type="text/css" href="css/thank.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div class="main">
    <div id="user" class="logo-bar">
        <a href="/">
            <img src="img/main.png">
        </a>
    </div>
    <div class="wrapper">
        <div id="info" class="content">
            <div class="frame outline">
                <div class="accept">
                    <img src="img/truck.svg" class="accept-img">
                </div>
                    <h1>Drogi Kliencie,</h1>
                    <p>Dziękuje za złożenie zamówienia. Zostało ono przyjęte i już wkrótce otrzymasz wiadomość z potwierdzeniem transakcji na podany przez Ciebie adres e-mail.</p>
                <p>Twój numer zamówienia, to — <strong>{{ orders.number }}</strong></p>
                <div class="table main">
                    <div class="cell top user">
                        <h1>Dane odbiorcy:</h1>
                        <div class="box details">
                            <h2>{{ orders.user.name }} {{ orders.user.surname }}</h2>
                            <p>{{ orders.address }}<br>{{ orders.city }}<br>{{ orders.user.email }}</p>
                        </div>
                    </div>
                    <div class="cell top details">
                        <table>
                            <tbody>
                            <tr class="row border-top">
                                <td class="cell"><h1>Towar:</h1></td>
                                <td class="cell cent fit"><h1>Cena:</h1></td>
                            </tr>
                            <tr class="row prod" v-for="(productinbag, indexi) in productInOrders" :key="productinbag.id">
                                <td class="cell">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell">
                                                <h3>{{ productinbag.product.name }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="cell righ"><h3>{{ productinbag.product.price }}</h3></td>
                            </tr>
                            <tr class="row prod">
                                <td colspan="2" class="cell">
                                    <h1>Całkowita wartość zamówienia:</h1>
                                </td>
                                <td class="cell righ">
                                    <h3>{{ totalPrice }}</h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cell top user"></div>
                </div>
                <p style="text-align: right;">PS. Dołożymy wszelkich starań, aby przesyłka dotarła do Ciebie jak najszybciej.</p>
                <p style="text-align: right;">Zespół <strong>sklepik.pl</strong> :)</p> <div style="clear: both;"></div></div></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/thank.js"></script>

</body></html>